body {
  margin: 0;
}

.splash {
  height: 100vh;
  background-image: url("https://i.postimg.cc/FHJRfmn5/Background-Image.png");
  background-size: cover;
  margin: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;

}

.splash::after {
  width: 100%;
  height: 100%;
  content: "";
  z-index: 2;
  background-color: #000000;
  opacity: 0.5;
  position: absolute;
  display: block;
  top: 0;
}

.splash-inner {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: inherit;
  text-align: center;
}


.logo p {
  color: #fed136;
  font-size: 26px;
  font-weight: 700;
  font-family: 'Lobster', cursive;
  text-align: center;
}

.navigation {
  position: relative;
}

.navi {
  padding-top: 40px;
}

.menu {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end;
}

.navigation, .splash-inner {
  z-index: 3;
}

.navigation ul {
  list-style-type: none;
}

.navigation li {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #ffffff;
  margin-right: 40px;
  display: inline-block;
}

.navigation a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

.splash h2 {
  font-family: 'Lobster', cursive;
  font-size: 40px;
  color: #ffffff;
  margin: 20px 0;
}

.splash h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 75px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  margin: 20px 0;
}

.btn-splash {
  width: 240px;
  height: 65px;
  background-color: #fed136;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #ffffff;
  border: 0;
  border-radius: 3px;
  margin: 0 auto;
}

.section-title {
  color: #222222;
  font-family: Montserrat;
  font-size: 40px;
  font-weight: 900;
  line-height: 75px;
  text-transform: uppercase;
  letter-spacing: -1px;
}

.section-subtitle {
  color: #777777;
  font-family: "Droid Serif";
  font-size: 16px;
  font-style: italic;
  margin: 0;
}

.services {
  padding: 100px 0;
  text-align: center;
}

.bold-text {
  margin-top: 15px;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
}

.services p {
  font-family: 'Roboto';
  font-size: 14px;
}

.fas {
  color: #fed136;
  border: 3px solid #fed136;
  font-size: 35px;
  border-radius: 50%;
  height: 67px;
  width: 67px;
  line-height: 67px;
  text-align: center;
  margin-top: 50px;
}

/* Portfolio */
.portfolio {
  background-color: #f7f7f7;
  padding: 50px 0 100px 0;
}


.tile {
  width: 291px;
  display: flex;
  flex-direction: column;
  margin: 40px 0;
}

.text {
  background-color: #ffffff;
  padding: 10px 0;
  text-align: center;
}



/* Footer */
.social {
  width: 41px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  background-color: #222222;
  border-radius: 50%;
  color: #ffffff;
  font-size: 18px;
}

.footer p {
  color: #555555;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.35px;
}

.footer {
  padding: 25px 0;
  text-align: center;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}
/*# sourceMappingURL=style.css.map */

@media (max-width: 768px) {
    .splash-inner h1 {
        font-size: 54px;
    }

    .splash-inner h2 {
        font-size: 24px;
    }

    .btn-splash {
      width: 150px;
      height: 40px;
}
